
.footercontent {

margin-bottom: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color:black;
font-size: 14px;
margin-left: 26%;
}

.copy{
 margin-left: 44%;
 font-size:17px ;
}
.footercontent>h6,
u {
color:blue;
font-weight: 600;
}
